In [185]:
import pandas as pd

def load_data(path):
    return pd.read_csv(path)

In [186]:
data = load_data("country_profile_variables.csv")
columns = data.columns
data.head()

,country,Region,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),...,Unemployment (% of labour force),International trade: Balance (million US$),Population growth rate (average annual %),Urban population (% of total population),"Fertility rate, total (live births per woman)","Population age distribution (0-14 / 60+ years, %)",Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita)
0,Afghanistan,SouthernAsia,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,...,8.6,-2110,3.2,26.7,5.3,43.2/4.1,42,2.1,9.8/0.3,63
1,Albania,SouthernEurope,2930,106.9,101.9,11541,2.6,3984.2,22.4,26.0,...,15.8,-2707,-0.1,57.4,1.7,17.4/19.0,130,28.2,5.7/2.0,84
2,Algeria,NorthernAfrica,41318,17.3,102.0,164779,3.8,4154.1,12.2,37.3,...,11.4,-17099,2,70.7,3,29.3/9.4,135,0.8,145.4/3.7,5900
3,American Samoa,Polynesia,56,278.2,103.6,-99,-99,-99.0,-99,-99.0,...,...,-99,-~0.0,87.2,2.6,33.3/9.0,92,87.9,-99,-99
4,Andorra,SouthernEurope,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,...,-99,-1255,-1.6,85.1,1.2,14.4/19.0,13,34,0.5/6.4,1

In [187]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 24 columns):
country                                                  229 non-null object
Region                                                   229 non-null object
Population in thousands (2017)                           229 non-null int64
Population density (per km2, 2017)                       229 non-null float64
Sex ratio (m per 100 f, 2017)                            229 non-null float64
GDP: Gross domestic product (million current US$)        229 non-null int64
GDP growth rate (annual %, const. 2005 prices)           229 non-null object
GDP per capita (current US$)                             229 non-null float64
Economy: Agriculture (% of GVA)                          229 non-null object
Economy: Industry (% of GVA)                             229 non-null float64
Economy: Services and other activity (% of GVA)          229 non-null float64
Employment: Agriculture (% of employed)                  229 non-null object
Employment: Industry (% of employed)                     229 non-null object
Employment: Services (% of employed)                     229 non-null object
Unemployment (% of labour force)                         229 non-null object
International trade: Balance (million US$)               229 non-null object
Population growth rate (average annual %)                229 non-null object
Urban population (% of total population)                 229 non-null float64
Fertility rate, total (live births per woman)            229 non-null object
Population age distribution (0-14 / 60+ years, %)        229 non-null object
Individuals using the Internet (per 100 inhabitants)     229 non-null int64
Threatened species (number)                              229 non-null object
Forested area (% of land area)                           229 non-null object
CO2 emission estimates (million tons/tons per capita)    229 non-null int64
dtypes: float64(6), int64(4), object(14)
memory usage: 43.0+ KB

In [188]:
data.describe()

,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),GDP per capita (current US$),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Urban population (% of total population),Individuals using the Internet (per 100 inhabitants),CO2 emission estimates (million tons/tons per capita)
count,2.290000e+02,229.000000,229.000000,2.290000e+02,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000
mean,3.275679e+04,462.824891,100.202183,3.214339e+05,14251.877729,15.958952,46.408734,59.508734,198.711790,2464.262009
std,1.332751e+05,2305.384253,28.327837,1.478690e+06,23391.266933,38.684631,48.603730,25.206404,296.453089,9912.891745
min,1.000000e+00,0.100000,-99.000000,-9.900000e+01,-99.000000,-99.000000,-99.000000,0.000000,-99.000000,-99.000000
25%,4.310000e+02,35.900000,96.400000,2.078000e+03,1207.900000,15.400000,47.300000,39.800000,55.000000,2.000000
50%,5.448000e+03,88.100000,99.000000,1.625100e+04,4836.100000,25.500000,59.500000,59.900000,97.000000,108.000000
75%,1.919300e+04,222.800000,101.700000,1.179550e+05,16344.100000,32.800000,70.700000,79.600000,196.000000,961.000000
max,1.409517e+06,25969.800000,301.200000,1.803665e+07,169491.800000,79.900000,94.000000,100.000000,2358.000000,101394.000000

In [189]:
data = data[data["GDP per capita (current US$)"] != -99]
data = data[data["GDP growth rate (annual %, const. 2005 prices)"] != -99]
data = data[data["GDP growth rate (annual %, const. 2005 prices)"] != "-~0.0"]
data = data[data["Population growth rate (average annual %)"] != "~0.0"]
data = data[data["Population growth rate (average annual %)"] != "-~0.0"]
data["GDP growth rate (annual %, const. 2005 prices)"] = data["GDP growth rate (annual %, const. 2005 prices)"].astype(float)
data["Population growth rate (average annual %)"] = data["Population growth rate (average annual %)"].astype(float)
data.head()

,country,Region,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),...,Unemployment (% of labour force),International trade: Balance (million US$),Population growth rate (average annual %),Urban population (% of total population),"Fertility rate, total (live births per woman)","Population age distribution (0-14 / 60+ years, %)",Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita)
0,Afghanistan,SouthernAsia,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,...,8.6,-2110,3.2,26.7,5.3,43.2/4.1,42,2.1,9.8/0.3,63
1,Albania,SouthernEurope,2930,106.9,101.9,11541,2.6,3984.2,22.4,26.0,...,15.8,-2707,-0.1,57.4,1.7,17.4/19.0,130,28.2,5.7/2.0,84
2,Algeria,NorthernAfrica,41318,17.3,102.0,164779,3.8,4154.1,12.2,37.3,...,11.4,-17099,2.0,70.7,3,29.3/9.4,135,0.8,145.4/3.7,5900
4,Andorra,SouthernEurope,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,...,-99,-1255,-1.6,85.1,1.2,14.4/19.0,13,34,0.5/6.4,1
5,Angola,MiddleAfrica,29784,23.9,96.2,117955,3.0,4714.1,6.8,51.2,...,6.6,12221,3.5,44.1,6,46.8/4.0,146,46.5,34.8/1.4,3902

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 228
Data columns (total 24 columns):
country                                                  204 non-null object
Region                                                   204 non-null object
Population in thousands (2017)                           204 non-null int64
Population density (per km2, 2017)                       204 non-null float64
Sex ratio (m per 100 f, 2017)                            204 non-null float64
GDP: Gross domestic product (million current US$)        204 non-null int64
GDP growth rate (annual %, const. 2005 prices)           204 non-null float64
GDP per capita (current US$)                             204 non-null float64
Economy: Agriculture (% of GVA)                          204 non-null object
Economy: Industry (% of GVA)                             204 non-null float64
Economy: Services and other activity (% of GVA)          204 non-null float64
Employment: Agriculture (% of employed)                  204 non-null object
Employment: Industry (% of employed)                     204 non-null object
Employment: Services (% of employed)                     204 non-null object
Unemployment (% of labour force)                         204 non-null object
International trade: Balance (million US$)               204 non-null object
Population growth rate (average annual %)                204 non-null float64
Urban population (% of total population)                 204 non-null float64
Fertility rate, total (live births per woman)            204 non-null object
Population age distribution (0-14 / 60+ years, %)        204 non-null object
Individuals using the Internet (per 100 inhabitants)     204 non-null int64
Threatened species (number)                              204 non-null object
Forested area (% of land area)                           204 non-null object
CO2 emission estimates (million tons/tons per capita)    204 non-null int64
dtypes: float64(8), int64(4), object(12)
memory usage: 39.8+ KB

In [191]:
data.values

array([['Afghanistan', 'SouthernAsia', 35530, ..., '2.1', '9.8/0.3', 63],
       ['Albania', 'SouthernEurope', 2930, ..., '28.2', '5.7/2.0', 84],
       ['Algeria', 'NorthernAfrica', 41318, ..., '0.8', '145.4/3.7',
        5900],
       ...,
       ['Yemen', 'WesternAsia', 28250, ..., '1', '22.7/0.9', 668],
       ['Zambia', 'EasternAfrica', 17094, ..., '65.6', '4.5/0.3', 374],
       ['Zimbabwe', 'EasternAfrica', 16530, ..., '37.2', '12.0/0.8', 482]],
      dtype=object)

In [192]:
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np

class CombinedAttribute(BaseEstimator, TransformerMixin):

    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        mean_percapita_value = np.mean(X[:, 7])
        percentage_deviation = (X[:, 7] - mean_percapita_value)
        percentage_deviation = percentage_deviation / mean_percapita_value
        return np.c_[X, percentage_deviation]

In [193]:
attr_adder = CombinedAttribute()
data_new_attrib = attr_adder.transform(data.values)
data_new_attrib = pd.DataFrame(data_new_attrib)
data_new_attrib.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Afghanistan,SouthernAsia,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,...,-2110,3.2,26.7,5.3,43.2/4.1,42,2.1,9.8/0.3,63,-0.960431
1,Albania,SouthernEurope,2930,106.9,101.9,11541,2.6,3984.2,22.4,26,...,-2707,-0.1,57.4,1.7,17.4/19.0,130,28.2,5.7/2.0,84,-0.747033
2,Algeria,NorthernAfrica,41318,17.3,102,164779,3.8,4154.1,12.2,37.3,...,-17099,2,70.7,3,29.3/9.4,135,0.8,145.4/3.7,5900,-0.736246
3,Andorra,SouthernEurope,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,...,-1255,-1.6,85.1,1.2,14.4/19.0,13,34,0.5/6.4,1,1.53312
4,Angola,MiddleAfrica,29784,23.9,96.2,117955,3,4714.1,6.8,51.2,...,12221,3.5,44.1,6,46.8/4.0,146,46.5,34.8/1.4,3902,-0.70069

In [194]:
columns = list(columns)
columns.append("standard_deviation")
data_new_attrib.columns = columns
data_new_attrib.head()

,country,Region,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),...,International trade: Balance (million US$),Population growth rate (average annual %),Urban population (% of total population),"Fertility rate, total (live births per woman)","Population age distribution (0-14 / 60+ years, %)",Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),standard_deviation
0,Afghanistan,SouthernAsia,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,...,-2110,3.2,26.7,5.3,43.2/4.1,42,2.1,9.8/0.3,63,-0.960431
1,Albania,SouthernEurope,2930,106.9,101.9,11541,2.6,3984.2,22.4,26,...,-2707,-0.1,57.4,1.7,17.4/19.0,130,28.2,5.7/2.0,84,-0.747033
2,Algeria,NorthernAfrica,41318,17.3,102,164779,3.8,4154.1,12.2,37.3,...,-17099,2,70.7,3,29.3/9.4,135,0.8,145.4/3.7,5900,-0.736246
3,Andorra,SouthernEurope,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,...,-1255,-1.6,85.1,1.2,14.4/19.0,13,34,0.5/6.4,1,1.53312
4,Angola,MiddleAfrica,29784,23.9,96.2,117955,3,4714.1,6.8,51.2,...,12221,3.5,44.1,6,46.8/4.0,146,46.5,34.8/1.4,3902,-0.70069

In [195]:
data_new_attrib['current_state'] = np.where((data_new_attrib['standard_deviation']>0), 'developed', 'under_developed')

In [196]:
data_new_attrib.head()

,country,Region,Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),...,Population growth rate (average annual %),Urban population (% of total population),"Fertility rate, total (live births per woman)","Population age distribution (0-14 / 60+ years, %)",Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),standard_deviation,current_state
0,Afghanistan,SouthernAsia,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,...,3.2,26.7,5.3,43.2/4.1,42,2.1,9.8/0.3,63,-0.960431,under_developed
1,Albania,SouthernEurope,2930,106.9,101.9,11541,2.6,3984.2,22.4,26,...,-0.1,57.4,1.7,17.4/19.0,130,28.2,5.7/2.0,84,-0.747033,under_developed
2,Algeria,NorthernAfrica,41318,17.3,102,164779,3.8,4154.1,12.2,37.3,...,2,70.7,3,29.3/9.4,135,0.8,145.4/3.7,5900,-0.736246,under_developed
3,Andorra,SouthernEurope,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,...,-1.6,85.1,1.2,14.4/19.0,13,34,0.5/6.4,1,1.53312,developed
4,Angola,MiddleAfrica,29784,23.9,96.2,117955,3,4714.1,6.8,51.2,...,3.5,44.1,6,46.8/4.0,146,46.5,34.8/1.4,3902,-0.70069,under_developed

In [197]:
data_new_attrib['current_state'].value_counts()

under_developed    145
developed           59
Name: current_state, dtype: int64

In [198]:
col_needed = ["country", "GDP_percapita", "population_growth%", "GDP_growth%", "standard_deviation", "current_state", "prediction_rate", "prediction_status"]
df = pd.DataFrame(columns = col_needed)
temp = {}
j = 0
x = 0
for i, r in data_new_attrib.iterrows():
    temp["country"] = r["country"]
    temp["GDP_percapita"] = r["GDP per capita (current US$)"]
    temp["population_growth%"] = r["Population growth rate (average annual %)"]
    temp["GDP_growth%"] = r["GDP growth rate (annual %, const. 2005 prices)"]
    temp["standard_deviation"] = r["standard_deviation"]
    temp["current_state"] = r["current_state"]
    x = r["GDP growth rate (annual %, const. 2005 prices)"] / r["Population growth rate (average annual %)"]
    temp["prediction_rate"] = abs(x)
    if (temp["population_growth%"] < 0) and (temp["GDP_growth%"] > 0):
        temp["prediction_status"] = "Highly developing"
    elif (temp["population_growth%"] > 0) and (temp["GDP_growth%"] < 0):
        temp["prediction_status"] = "Highly declining"
    else:
        temp["prediction_status"] = "gradually developing"
    df.loc[j] = pd.Series(temp)
    temp = {}
    j += 1
print(df["prediction_status"].value_counts())
df.to_csv("data_one.csv")

gradually developing    166
Highly developing        19
Highly declining         19
Name: prediction_status, dtype: int64